@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

$font-manrope: 'Manrope', serif;

$primary-bg: #fbf8f4;
$col-black: #000000;

%mg_au {
  margin: 0 auto;
}
%ta_center {
  text-align: center;
}
