@font-face {
  font-family: 'MKhai2 HK Black';
  src: url('../../fonts/MKai2-HK-Black.woff2') format('woff2'),
    url('../../fonts/MKai2-HK-Black.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
